@import url('/node_modules/modern-normalize/modern-normalize.css');
@import './css/fonts.css';

:root {
  --color-black: #121417;
  --color-gray: #12141780;
  --color-lightgray: #1214171a;
  --color-white: #fff;
  --color-blue: #3470ff;
  --color-accent-blue: #0b44cd;
  --color-backdrop: #12141780;
  --color-backdrop-loader: #12141710;
  --color-background-input: #f7f7fb;
}
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: black;
  width: 100%;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}
